.mycustombtn {
  background: #142D71;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;

}


.intro-left-side {
  padding: 174px 0 171px 150px;
  
}

.intro-right-side {
  padding: 0;
  margin-left: 0px;
  height: 622px;


  background: linear-gradient(135deg, #192B74 0.42%, #2946A1 100%);
mix-blend-mode: normal;
opacity: 0.7;
border-bottom-left-radius: 66%;

}



@media(max-width:768px) {
  .intro-left-side {
    padding: 80px 30px 0;
  }

  .intro-left-side h1 {
    text-align: center;
  }

  .intro-left-side p {
    text-align: justify;
    text-indent: 50px;
  }

  .watch {
    margin: 0 auto !important;
  }
}